@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap");

body {
    background: #ffffff;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#TimedShopMainLogo {
    float: left;
    margin-left: 4vw;
    margin-top: 2vh;
}

.navMenu {
    position: absolute;
    top: 5%;
    left: 22.5%;
    width: 101.4%;
}

.navMenu a {
    float: left;
    text-align: center;
    color: #2a2a2a;
    text-decoration: none;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 700;
    width: 5%;
    margin-right: 2%;
}
#LogIn {
    margin-left: 28%;
}

.navMenu a:hover {
    color: #5a189a;
}

#women {
    width: 100px;
}
@media screen and (max-width: 1080px) {
    .navMenu a {
        margin-right: 2%;
        margin-left: 2%;
    }
    #LogIn {
        margin-left: 10%;
    }
}
.icon-badge-container {
    position: relative;
}

.icon-badge-icon {
    position: relative;
    width: 23px;
}

@media screen and (min-width: 800px) {
    .icon-badge {
        margin: 0;
        position: absolute;
        top: -10;
        right: 20;
    }
}
@media screen and (max-width: 800px) {
    .navMenu a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navMenu {
        left: 0;
        top: 15vw;
    }

    #LogIn {
        margin-left: 2%;
    }
    #cart {
        width: 100%;
    }
    #TimedShopMainLogo {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #women {
        width: 100%;
    }
}
#account {
    margin-left: 39%;
    width: 23px;
}
.icon-badge {
    background-color: #ff2c2c;
    font-size: 15px;
    color: white;
    text-align: center;
    width: 21px;
    height: 21px;
    border-radius: 100%;
}

#footer {
    border-top: 1px solid #2a2a2a;
    float: left;
    width: 100%;
    height: 30vh;
    background-color: #e3c8ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#followUsDiv {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
#followUsText {
    font-size: 1.3vw;
    font-weight: 700;
    color: #2a2a2a;
}
#iconsDiv {
    display: flex;
    flex-direction: column;
}
#instagram {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.3vw;
}
#facebook {
    margin-top: 0.5vh;
    width: 2vw;
    height: 2vw;
    margin: 0.55vw;
}
#tiktok {
    margin-top: 0.5vh;
    width: 2vw;
    height: 2vw;
    margin: 0.4vw;
}
#twitter {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.3vw;
}

#iconsDivTop {
    display: flex;
    justify-content: space-evenly;
}
#iconsDivBottom {
    display: flex;
    justify-content: space-evenly;
}
#helpAndInfoDiv {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
#helpAndInfoText {
    font-size: 1.3vw;
    font-weight: 700;
    color: #2a2a2a;
}
#HILinks {
    display: flex;
    flex-direction: column;
}

#timedShopDiv {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
#timedShopText {
    font-size: 1.3vw;
    font-weight: 700;
    color: #2a2a2a;
}
#timedShopLinks {
    display: flex;
    flex-direction: column;
}
.alink {
    font-size: 0.9vw;
    margin-top: 0.5vh;
    color: #4b4b4b;
    text-decoration: none;
}


.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    height: 23vh;
    border-radius: 10px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-bottom:2vh;
}
.cartImage{
    width: 14vh;
    height: 21vh;
    border-radius: 10px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-left:0.5vw;
}
.cartItemOptions{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom:2vh;
}
.cartTextDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left:1vw;
}
.cartItemTitle{
    font-size:3vh;
    margin-top:1vh;
    color:#2a2a2a;
}
.cartItemType{
    font-size:2vh;
    color:#4b4b4b;
}
.cartItemPrice{
    position: absolute;
    right: 2vh;
    top:2vh;
    font-size: 2.5vh;
    color:#2a2a2a;
}
.cartItemSizeTitle{
    font-size:2vh;
    color:#2a2a2a;
    margin-left:2vh;
}
.cartItemColorTitle{
    font-size:2vh;
    color:#2a2a2a;
}
.cartItemQuantityTitle{
    font-size:2vh;
    color:#2a2a2a;
    margin-left:2vh;
}
.colorDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartItemColor{
    width: 3vh;
    height: 3vh;
    border-radius: 5px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-left:1vh;
}
.orderedDate{
    color:#2a2a2a;
    font-size: 2vh;
    margin-top:3vh;
}

#mainDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin-top:10vh;
    margin-left:13vw;
}
#accountTitle{
    color:#2a2a2a;
    font-weight: 700;
    font-size: 4vh;
}
#accountImgDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:3vh;
    margin-top:3vh;
    position: relative;
}
#accountUserIcon{
    width: 3vh;
}
#accountName{
    font-size:3vh;
    font-weight: 600;
    color:#2a2a2a;
    margin-left:1vh;
}
#divider {
    width: 25vw;
    height: 1px;
    background-color: #cacaca;
    margin-bottom: 3vh;
}

#accountInfo{
    display: flex;
    flex-direction: column;
}
#firstNameDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#firstName{
    position: absolute;
    right:0;
    font-weight: 600;
}

#lastNameDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#lastName{
    position: absolute;
    right:0;
    font-weight: 600;
}
#emailDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#email{
    position: absolute;
    right:0;
    font-weight: 600;
}
#genderDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#gender{
    position: absolute;
    right:0;
    font-weight: 600;
}

#orders{
    display: flex;
    flex-direction: column;
    margin-left:10vw;
}
#ordersTitle{
    color:#2a2a2a;
    font-size: 4vh;
    font-weight: 700;
    margin-bottom:3vh;
}
#signOut{
    position: absolute;
    right:0;
    color:#2a2a2a;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    font-size:2vh
}