@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap");

body {
    background: #ffffff;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color:#2a2a2a;
}
#bigdiv{
    position: relative;
    overflow: hidden;
    display: flex;
}

.orderItemOptions{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom:2vh;
}
.orderTextDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left:1vw;
}
.orderItemTitle{
    font-size:3vh;
    margin-top:1vh;
    color:#2a2a2a;
}
.orderItemType{
    font-size:2vh;
    color:#4b4b4b;
}
.orderItemPrice{
    position: absolute;
    right: 2vh;
    top:2vh;
    font-size: 2.5vh;
    color:#2a2a2a;
}
.orderItemSizeTitle{
    font-size:2vh;
    color:#2a2a2a;
    margin-left:2vh;
}
.orderItemColorTitle{
    font-size:2vh;
    color:#2a2a2a;
}
.orderItemQuantityTitle{
    font-size:2vh;
    color:#2a2a2a;
    margin-left:2vh;
}
.colorDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.orderItemColor{
    width: 3vh;
    height: 3vh;
    border-radius: 5px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-left:1vh;
}
.orderedDate{
    color:#2a2a2a;
    font-size: 2vh;
    margin-top:3vh;
}

#mainDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin-top:8vh;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 10000000;
    background-color: #e3c8ff;
}
#THEDIV {
    display: none;
}


.hourglass{
    display:block;
    background:#e3c8ff;
    margin:3em auto;
    width:3em;
    height:6em;
    animation:hourglass 1s linear infinite;
}

.outer{
    fill:#2a2a2a;
}

.middle{
    fill:#e3c8ff;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset #2a2a2a 0 -0em 0 0,
            inset #e3c8ff 0 -3em 0 0,
            inset #2a2a2a 0 -6em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset #2a2a2a 0 -3em 0 0,
            inset #e3c8ff 0 -3em 0 0,
            inset #2a2a2a 0 -3em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset #2a2a2a 0 -3em 0 0,
            inset #e3c8ff 0 -3em 0 0,
            inset #2a2a2a 0 -3em 0 0;
    }
}

#leftDiv{
    float:left;
    width: 40vw;
    margin-left:10vw;
    height: 100vh;
    display: flex;
    flex-direction: column
}
#rightDiv{
    float:left;
    width: 50vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
#orderTitle{
    font-size:4vh;
    font-weight: 700;
    color:#2a2a2a;
}
#orderDate{
    margin-top:2vh;
    font-size:2.5vh;
    font-weight: 400;
    color:#2a2a2a;
}
#orderID{
    font-size:2.5vh;
    font-weight: 400;
    color:#2a2a2a;
}
#orderShippingDiv{
    display: flex;
    flex-direction: column;
}
#shippingTitle{
    font-size:3vh;
    font-weight: 700;
    color:#2a2a2a;
}
#shippingAddressDiv{
    display: flex;
    flex-direction: column;
}
#countryDiv{
    margin-top:2vh;
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#country{
    position: absolute;
    right:0;
    font-weight: 600;
}
#cityDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#city{
    position: absolute;
    right:0;
    font-weight: 600;
}
#stateDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#state{
    position: absolute;
    right:0;
    font-weight: 600;
}
#Line1Div{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#line1{
    position: absolute;
    right:0;
    font-weight: 600;
}
#Line2Div{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#line2{
    position: absolute;
    right:0;
    font-weight: 600;
}
#postalCodeDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#postalCode{
    position: absolute;
    right:0;
    font-weight: 600;
}
#clientInfo{
    display: flex;
    flex-direction: column;
}
#clientInfoTitle{
    font-size:3vh;
    font-weight: 700;
    color:#2a2a2a;
    margin-bottom:2vh;
}
#clientNameDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#clientName{
    position: absolute;
    right:0;
    font-weight: 600;
}
#emailDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
    margin-bottom:1vh;
}
#email{
    position: absolute;
    right:0;
    font-weight: 600;
}
#phoneDiv{
    position: relative;
    color:#2a2a2a;
    font-size: 2vh;
    font-weight: 500;
    width: 25vw;
}
#phone{
    position: absolute;
    right:0;
    font-weight: 600;
}
#divider {
    width: 25vw;
    height: 1px;
    background-color: #2a2a2a;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#summaryTitle{
    font-size:4vh;
    font-weight: 700;
    color:#2a2a2a;
}
#summaryDiv{
    margin-top:2vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    position: relative;
}

#subtotalDiv{
    display: flex;
    flex-direction: row;
}
#subtotalText{
    font-size:2.5vh;
    color:#2a2a2a;
}
#subtotalValue{
    font-size:2.5vh;
    color:#2a2a2a;
    position: absolute;
    right:0;
    font-weight: 600;
}
#shippingCostsDiv{
    display: flex;
    flex-direction: row;
    margin-top:1vh;
}
#shippingCostsText{
    font-size:2.5vh;
    color:#2a2a2a;
}
#shippingCostsValue{
    font-size:2.5vh;
    color:#2a2a2a;
    position: absolute;
    right:0;
    font-weight: 600;
}

#totalDiv{
    display: flex;
    flex-direction: row;
    width:100%;
}
#totalText{
    font-size:2.5vh;
    color:#2a2a2a;
}
#totalValue{
    font-size:2.5vh;
    color:#2a2a2a;
    position: absolute;
    right:0;
    font-weight: 600;
}
#orderContentTitle{
    font-size:4vh;
    font-weight: 700;
    color:#2a2a2a;
    margin-top:5vh;
    margin-bottom:2vh;
}
#orderContent{
    display: flex;
    flex-direction: column;
}
.orderItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    height: 23vh;
    border-radius: 10px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-bottom:2vh;
}
.orderImage{
    width: 14vh;
    height: 21vh;
    border-radius: 10px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-left:0.5vw;
}
.orderItemOptions{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom:2vh;
}
.orderTextDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left:1vw;
}
.orderItemTitle{
    font-size:3vh;
    color:#2a2a2a;
    margin-top:1vh;
}
.orderItemType{
    font-size:2vh;
    color:#4b4b4b;
}
.orderItemPrice{
    position: absolute;
    right: 2vh;
    top:2vh;
    font-size: 2.5vh;
    color:#2a2a2a;
}
.orderItemSizeTitle{
    font-size:2vh;
    color:#2a2a2a;
    margin-left:2vh;
}
.orderItemColorTitle{
    font-size:2vh;
    color:#2a2a2a;
}

.colorDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.orderItemColor{
    width: 3vh;
    height: 3vh;
    border-radius: 5px;
    border: solid #2a2a2a;
    border-width: 1 1px;
    margin-left:1vh;
}

@media screen and (max-width:900px) {
    #mainDiv{
        width:100vw;
        flex-direction: column;
        margin-top:7vh;
    }
    #leftDiv{
        width:calc(100% - 5vw);
        margin-left:5vw;
        min-height: 80vh;
        height: unset;
    }
    #divider{
        width: calc(100% - 5vw);
    }
    #countryDiv{
        width:calc(100% - 5vw);
    }
    #cityDiv{
        width:calc(100% - 5vw);
    }
    #Line1Div {
        width:calc(100% - 5vw);
    }
    #Line2Div {
        width:calc(100% - 5vw);
    }
    #stateDiv {
        width:calc(100% - 5vw);
    }
    #postalCodeDiv {
        width:calc(100% - 5vw);
    }

    #clientNameDiv {
        width:calc(100% - 5vw);
    }
    #emailDiv{
        width:calc(100% - 5vw);
    }
    #phoneDiv{
        width:calc(100% - 5vw);
    }

    #rightDiv{
        width:calc(100% - 5vw);
        margin-left:5vw;
        min-height: 80vh;
        height: unset;
    }
    #summaryDiv{
        width:100%;
    }
    #subtotalDiv{
        width:calc(100% - 5vw);
        position: relative;
    }
    #shippingCostsDiv{
        width:calc(100% - 5vw);
        position: relative;
    }
    #totalDiv{
        width:calc(100% - 5vw);
        position: relative;
    }
    .orderItem{
        width:calc(100% - 5vw);
    }
    .orderImage{
        margin-left:0.9vh;
    }
    .orderItemTitle{
        font-size:2vh;
    }
    .orderItemPrice{
        font-size:2vh;
        font-weight: bold;
        position: unset;
    }
    .orderItemType{
        font-size:1.5vh;
    }
    .orderItemColorTitle{
        font-size:1.8vh;
    }
    .orderItemQuantityTitle{
        font-size:1.8vh;
    }
    .orderItemSizeTitle{
        font-size:1.8vh;
    }
    .orderItemColor{
        width:2.5vh;
        height:2.5vh;
    }
}
@media screen and (min-width:901px) and (max-width:1200px) {
    #mainDiv{
        width:100vw;
        margin-top:7vh;
    }
    #leftDiv{
        width:40%;
        margin-left:5vw;
        min-height: 80vh;
        height: unset;
    }
    #countryDiv{
        width:100%;
    }
    #cityDiv{
        width:100%;
    }
    #Line1Div {
        width:100%;
    }
    #Line2Div {
        width:100%;
    }
    #stateDiv {
        width:100%;
    }
    #postalCodeDiv {
        width:100%;
    }

    #clientNameDiv {
        width:100%;
    }
    #emailDiv{
        width:100%;
    }
    #phoneDiv{
        width:100%;
    }
    #divider{
        width:100%;
    }
    #rightDiv{
        width:calc(50% - 5vw);
        margin-left:5vw;
        min-height: 80vh;
        height: unset;
    }
    #summaryDiv{
        width:100%;
    }

    .orderItem{
        width:100%;
    }
    .orderImage{
        margin-left:0.9vh;
    }
    .orderItemTitle{
        font-size:2vh;
    }
    .orderItemPrice{
        font-size:2vh;
        font-weight: bold;
        position: unset;
    }
    .orderItemType{
        font-size:1.5vh;
    }
    .orderItemColorTitle{
        font-size:1.8vh;
    }
    .orderItemQuantityTitle{
        font-size:1.8vh;
    }
    .orderItemSizeTitle{
        font-size:1.8vh;
    }
    .orderItemColor{
        width:2.5vh;
        height:2.5vh;
    }
}