@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap');

body {
  background: #ffffff;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

#TimedShopMainLogo {
  float:left;
  margin-left:4%;
  margin-top:1%;
}

.navMenu {
  position: absolute;
  top: 5%;
  left: 22.5%;
  width: 101.4%;
}

.navMenu a {
  float:left;
  text-align: center;
  color: #2A2A2A;
  text-decoration: none;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 700;
  width: 5%;
  margin-right:2%;
}
#LogIn {
  margin-left:28%;
}

.navMenu a:hover {
  color: #5A189A;
}

#women{
  width:100px;
  color: #5A189A;
}
@media screen and (max-width:1080px){
  .navMenu a{
    margin-right:2%;
    margin-left:2%;
  }
  #LogIn{
    margin-left:10%;
  }
}
.icon-badge-container {
  position:relative;
}

.icon-badge-icon {
  position: relative;
  width:23px;
}

@media screen and (min-width:800px){
  .icon-badge{
    margin:0;
    position:absolute;
    top:-10;
    right:20;
  }
}
@media screen and (max-width: 800px) {
  .navMenu a {
    width:100%;
    display: flex;
    justify-content: center;
  }
  .navMenu{
    left:0;
    top:15vw;
  }
  
  #LogIn{
    margin-left:2%;
  }
  #cart{
    width:100%;
  }
  #TimedShopMainLogo{
    margin:0;
    width:100%;
    display: flex;
    justify-content: center;
  }
  #women{
    width:100%;
  }
}


.icon-badge {
  background-color: #FF2C2C;
  font-size: 15px;
  color: white;
  text-align: center;
  width:21px;
  height:21px;
  border-radius: 100%;
}



#sectionSpecifier {
  float:left;
  color: #2A2A2A;
  background-color: #E3C8FF;
  border-radius: 10px;
  border: solid #2A2A2A;
  border-width: 1 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width:92.36vw;
  height: 8vh;
  margin-left:3.9vw;
  margin-top:4vh;
  font-size: 2.5vw;
  font-weight: bold;
}

#fullProductsDiv {
  float:left;
  width:92.36vw;
  height: 80vh;
  margin-left:3.9vw;
  margin-top:5.5vh;
}

#customizer {
  float:left;
  width:20.745vw;
  height: 80vh;
  border-radius: 10px;
  border: solid #2A2A2A;
  border-width: 1 1px;
}

#productOutput{
  float:left;
  width:71.5vw;
  height: 150vh;
}

.product {
  float:left;
  width:20.58vw;
  height:60vh;
  margin-left:3.1289vw;
  border-radius: 10px 10px 0px 0px;
  border: solid #2A2A2A;
  border-width: 1 1px;
  margin-bottom: 10vh;
  background-color: #E3C8FF;
}

.productImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:17vw;
  height: fit-content;
}

.productDividerLine {
  float:left;
  margin-left:-1px;
  width:20.58vw;
  height:12vh;
  border-radius: 0px 0px 10px 10px;
  border: solid #2A2A2A;
  border-width: 1 1px;
  background-color: #ffffff;
}

.productName {
  color:#7A7A7A;
  font-size:1.5vw;
  font-weight: 400;
  display: flex;
  margin-top:0.5vh;
  justify-content: center;
  align-items: center;
}

.productPriceBeforeSale {
  color:#7A7A7A;
  font-size:0.8vw;
  font-weight: 400;
  display: flex;
  text-decoration: line-through;
  justify-content: center;
  align-items: center;
}

.productPrice{
  color:#2A2A2A;
  font-weight:700;
  font-size:1.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImageDiv{
  position: relative;
}
.productSecondImage {
  display:none;
  position: absolute;
  left:2vw;
  top:0;
  width:17vw;
  z-index:9009;
}

.productAvailableSizes{
  display:none;
  margin-left:2vw;
  margin-top:2.5vh;
  font-size:1vw;
}
.productColors{
  display:none;
  margin-left:2vw;
  margin-top:1vh;
  font-size:1vw;
  flex-direction: row;
  align-items: center;
}

.productColorCircle {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  border: solid #2A2A2A;
  border-width: 1 1px;
  margin-left:0.5vw;
}
.product:hover .productSecondImage {
  display: inline;
}
.product:hover .productImage {
  opacity: 0;
}

.product:hover .productName {
  display:none;
}

.product:hover .productPrice {
  display:none;
}

.product:hover .productPriceBeforeSale {
  display:none;
}

.product:hover .productAvailableSizes{
  display:flex;
}

.product:hover .productColors {
  display:flex;
}

